<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="Person" class="com.example.demo.Person"></bean>

    <bean id="Persondb" class="com.example.demo.Persondb"></bean>

    <bean id="PersonRepository" class="com.example.demo.PersonRepository">
        <constructor-arg index="0" ref="Persondb"/>
    </bean>

</beans>