<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="firstComponent" class="pl.pjatk.jak.FirstComponent"></bean>

    <bean id="secondComponent" class="pl.pjatk.jak.SecondComponent">
        <constructor-arg index="0" ref="firstComponent"/>
    </bean>

    <bean id="new" class="pl.pjatk.jak.NewComponent">
        <constructor-arg index="0" ref="firstComponent"/>
        <constructor-arg index="1" ref="secondComponent"/>
    </bean>



</beans>